body {
   background-color: white;
   text-align: center;
}

header {
   background-color: mediumblue;
   color: white;
   padding: 20px;

   <link rel="EmailApp.html" type="text/css" href="EmailApp.css">
}